{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.svelte", "*.css"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
