# Build outputs
.svelte-kit
dist
build

# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
bun.lockb

# Configuration files
**/*.js
vite.config.ts
*.config.js
*.config.ts

# External directories
ext
drizzle

# Documentation
*.md
LICENSE

# System and IDE
.git
.github
.idea
.DS_Store
